

#first{
  background-color: red;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: antiquewhite;
}

#main-wrapper{
  display: flex;
  flex-direction: row;
  max-height: 168px;
  max-width: 467px;
  margin: 14px;
}

#card--img{
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

#text-wrapper{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#location{
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center; 
  gap: 5px;
  font-size: 10px;
}
#location--text{
  letter-spacing: 2px;
  
}
#google--map{
  color: #918E9B;
}
#title{
  font-weight: bold;
  font-size: 25px;
  margin: 0px;
}
#date{
  font-weight: bold;
}
#description{
  margin: 0px;
  font-size: 10px;
}